.testimonialsSection {
  background-color: #f8f8f8;
  padding: 10rem 0;
  color: #010103;
}

.testimonialsContent {
  display: flex;
  flex-direction: column;
}
.testimonialsContentTitle {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  max-width: 70rem;
  margin-bottom: 5rem;
}
.testimonialsContentTitle h4 {
  font-size: 2.2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.testimonialsContentTitle h2 {
  font-size: 4.2rem;
  margin-bottom: 1.4rem;
}
.testimonialsContentTitle p {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: #706f7b;
  line-height: 1.4;
}

.allTestimonials {
  display: flex;
  gap: 3rem;
  width: 90%;
  justify-content: center;
  padding: 3rem;
}
@media (max-width: 1000px) {
  .allTestimonials {
    padding: 0;
  }
}
.allTestimonialsBox {
  background-color: white;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.08);
  min-width: 100%;
  padding: 5.5rem;
  position: relative;
}
@media (max-width: 1000px) {
  .allTestimonialsBox {
    padding: 5rem 3rem;
  }
}
.allTestimonialsBox p {
  font-size: 2.2rem;
  font-weight: 500;
}
.allTestimonialsBoxName {
  display: flex;
}
.allTestimonialsBoxNameProfile {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 3rem;
}
.allTestimonialsBoxNameProfile img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
.allTestimonialsBoxNameProfile h4 {
  font-size: 1.8rem;
}
.allTestimonialsBoxNameProfile p {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.quotesIcon {
  font-size: 6.2rem;
  color: #656af8;
  position: absolute;
  bottom: 33px;
  right: 60px;
}
@media (max-width: 470px) {
  .quotesIcon {
    display: none;
  }
}
